.hero {
  background: url("./assets/poster.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  height: 95vh;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.42);
}

.space-x {
  padding-left: 50px;
  padding-right: 50px;
}
